{% extends 'layout.html' %}

{% block title %}
  Register User
{% endblock %}

{% block content %}
<body class="text-center">
	<div class="container">
		<form method="POST" class="form-register" style="color: white;">
			<!-- prevent csr -->
			{{ form.hidden_tag() }}
			<h1 class="h3 mb-3 font-weight-normal">
				Please Create your Account
			</h1>
			{{ form.username.label() }}
			{{ form.username(class="form-control", placeholder="Username") }}

			{{ form.email_address.label() }}
			{{ form.email_address(class="form-control", placeholder="Email Address") }}

			{{ form.password1.label() }}
			{{ form.password1(class="form-control", placeholder="Password") }}  

			{{ form.password2.label() }}
			{{ form.password2(class="form-control", placeholder="Confirm Password") }}
			<br>
			<br>
			<div class="checkbox mb-3">
				<h6>Already have acccount?</h6>
				<a href="{{ url_for('login_page') }}" class="btn btn-sm btn-secondary">Login</a>
			</div>
			<br>
			<!-- {{ form.submit.label() }} -->
			{{ form.submit(class="btn btn-primary btn-lg btn-block", placeholder="Submit") }}
		</form>
	</div>
</body>
	<!-- {{ form }} -->
{% endblock %}
